*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: darkblue;
    color: azure;
    line-height: 5rem;
}

.choice{
    height: 165px;
    width: 165x;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    gap: 2rem;
}

#score-container{
    display: flex;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    gap: 5rem;
}

#player-score,#comp-score{
    font-size: 4rem;
}

#msg{
    font-size: 2rem;
    background-color: darkslategray;
    display: inline;
    border-radius: 5px;
    margin-top: 5rem;
    color: aliceblue;
    padding: 1rem;
}

#msg-container{
    margin-top: 5rem;
}

.choice:hover{
    cursor: pointer;
    background-color: black;
}


